* {
    font-family: Comic Sans MS, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
p {
    margin-top: 0;
    padding-top: 0;
}

header {
    position: static;
    z-index: 1000;
    top: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.logo {
    margin: 10px;
    display: inline-flex;
    padding: 15px;
    background-color: darkgrey;
    border-radius: 25%;
}

.head {
    display: inline-block;
    position: relative;
    align-items: center;
    padding: 0;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 0 0 30px 30px;
    box-shadow: #000000 0 1px 5px 2px;
    box-shadow: rgba(0, 0, 0, 0.37) 0 1px 5px 2px;
    margin: 0 auto;
}

div {
    padding: 20px;
}

.logo > img {
    width: 90px;
    border-radius: 25%;
}

.nav {
    float: right;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    user-select: inherit;
    list-style: none;
}

.nav li {
    float: left;
    margin: 0 10px;
}

.nav a {
    display: block;
    padding: 20px 30px;
    text-align: center;
    background-color: gray;
    box-shadow: darkgrey 2px 2px 1px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover {
    background-color: gray;
    cursor: pointer;
}

.nav a:active {
    background-color: darkgrey;
    cursor: pointer;
}

.shadow-list {
    display: flex;
    width: 1140px;
    padding: 50px 0 0 50px;
    flex-wrap: wrap;
    margin: auto;
}


.shadow-list div {
    margin-bottom: 50px;
    margin-right: auto;
    width: 300px;
    box-sizing: border-box;
    height: 400px;
}

img {
    width:75%;
    height:auto;
    align-content: center;
}

.first-block{
    box-shadow: -10px -10px 7px 5px green;
}
.second-block{

    box-shadow:  0 0 15px 7px green;
}
.third-block{
    box-shadow: 5px 5px 10px green;
    margin-right: 0;
}
.fourth-block{
    box-shadow:  0 0 30px green;
}
.fifth-block{
    box-shadow: inset 0 10px green, inset 0 -10px yellow, inset 10px 0 red, inset -10px 0 blue;
    padding: 10px;
}
.sixth-block{
    border: 1px solid green;
    padding: 10px;
    box-shadow: green 0 15px 0 -5px, orange 0 -15px 0 -5px;
}
.block-title{
    margin-left: 10px;
    font-weight: bold;
}
